## Import packages

In [3]:
import pandas as pd
import numpy as np

## Read Data

In [4]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

## Question 12

In [5]:
# import linear regression, train_test_split and r2score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# pick the 2 columns
X= data['T2'].values.reshape(-1,1)
y= data['T6']

# instantiate linear regression model
lr = LinearRegression()

# split into train and test
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# fit on train data
lr.fit(x_train, y_train)

# make prediction
predicted_values = lr.predict(x_test)

# print the r2score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

## Question 13

In [6]:
# import minmax scaler
from sklearn.preprocessing import MinMaxScaler

# drop columns
data = data.drop(columns=['date', 'lights'])

# instantiate the minmax scaler
scaler = MinMaxScaler()

# normalize the data
normalised_df = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

# drop target column from feature df
features_df = normalised_df.drop(columns=['Appliances'])

# assing target variable
target = normalised_df['Appliances']

# split data train and tet
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size=0.3, random_state=42)

# instantiate regresion model
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

#print the MAE core
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

## Question 14

In [7]:
#print the rss core
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

## Question 15

In [8]:
# import mse
from sklearn.metrics import mean_squared_error

# print the MSE score
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

## Question 16

In [9]:
# import r2 score
from sklearn.metrics import r2_score

# print the r2 score
r2_scores = r2_score(y_test, predicted_values)
round(r2_scores, 2)

0.15

## Question 17

In [10]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)

  return weights_df

# get the weight for the linear regressioin model
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

## Question 18

In [11]:
# import ridge model
from sklearn.linear_model import Ridge

# instantiate the ridge regression model with alpha of 0.004
ridge_reg = Ridge(alpha=0.4)

# fit on train data
ridge_reg.fit(x_train, y_train)

# make prediction
pred = ridge_reg.predict(x_test)

# print the rmse
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

0.088

## Question 19

In [12]:
# import lasso model
from sklearn.linear_model import Lasso

# instantiate the lasso regression model with alpha of 0.001
lasso_reg = Lasso(alpha=0.001)

# fit on train data
lasso_reg.fit(x_train, y_train)

# get the weights for the lasso regression model
lasso_model_weights = get_weights_df(lasso_reg, x_train, 'Lasso_Model_Weight')
lasso_model_weights

       Features  Lasso_Model_Weight
0        RH_out           -0.049557
1          RH_8           -0.000110
2            T1            0.000000
3     Tdewpoint            0.000000
4    Visibility            0.000000
5   Press_mm_hg           -0.000000
6         T_out            0.000000
7          RH_9           -0.000000
8            T9           -0.000000
9            T8            0.000000
10         RH_7           -0.000000
11          rv1           -0.000000
12           T7           -0.000000
13           T6            0.000000
14         RH_5            0.000000
15           T5           -0.000000
16         RH_4            0.000000
17           T4           -0.000000
18         RH_3            0.000000
19           T3            0.000000
20         RH_2           -0.000000
21           T2            0.000000
22         RH_6           -0.000000
23          rv2           -0.000000
24    Windspeed            0.002912
25         RH_1            0.017880

## Question 20

In [13]:
# make prediction for lasso model
pred = lasso_reg.predict(x_test)

# print the rmse
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

0.094