In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# download data
!wget https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv

--2020-07-21 10:21:13--  https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2649320 (2.5M) [text/plain]
Saving to: ‘fuel_ferc1.csv.1’

fuel_ferc1.csv.1    100%[===================>]   2.53M  --.-KB/s    in 0.08s

2020-07-21 10:21:13 (33.4 MB/s) - ‘fuel_ferc1.csv.1’ saved [2649320/2649320]

In [3]:
# read data
data = pd.read_csv('/content/fuel_ferc1.csv')

# print the first 5 rows of the data
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

## Question 1

In [4]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]

A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [5]:
A.append(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34, [13, 21, 34]]

## Question 2

In [7]:
np.array([1,0,0],[0,1,0],[0,0,1])

ValueError: ignored

In [8]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
np.array[(1,0,0),(0,1,0),(0,0,1)]

TypeError: ignored

## Question 3

In [11]:
# group by the fuel_type_code_pudl, calculate the mean and sort the vlaues in ascending order

data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4

In [21]:
# calculate the standard deviation
print('Standard deviation: ',round(data['fuel_mmbtu_per_unit'].std(),2))

# calculate the 75th percentile
print('75th Quantile: ',round(data['fuel_mmbtu_per_unit'].quantile(0.75),2))

Standard deviation:  10.6
75th Quantile:  17.01

## Question 5

In [22]:
# calculate the skewness
print('The skewness is: ',round(data['fuel_qty_burned'].skew(),2))

# calculate the kurtosis
print('The kurtosis is: ',round(data['fuel_qty_burned'].kurtosis(),2))

The skewness is:  15.85
The kurtosis is:  651.37

## Question 6

In [15]:
# sum the null values in each column and sort by descending

data.isnull().sum().sort_values(ascending=False)

fuel_unit                       180
fuel_cost_per_mmbtu               0
fuel_cost_per_unit_delivered      0
fuel_cost_per_unit_burned         0
fuel_mmbtu_per_unit               0
fuel_qty_burned                   0
fuel_type_code_pudl               0
plant_name_ferc1                  0
report_year                       0
utility_id_ferc1                  0
record_id                         0
dtype: int64

In [16]:
# get the mean and multiply by 100 to get the percentage

round(data['fuel_unit'].isna().mean() * 100,3)

0.61

## Question 7

In [17]:
# get the data type of the fuel unit column

data['fuel_unit'].dtypes

dtype('O')

## Question 8

In [18]:
# calculate the correlation, sort the values and slice to get the 2nd and 3rd values

data.corr()['fuel_cost_per_unit_burned'].sort_values()[1:3]

fuel_qty_burned       -0.018535
fuel_mmbtu_per_unit   -0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 9

In [23]:
# create a dataframe for each year
coal_1998 = data[(data['fuel_type_code_pudl'] == 'coal') & ((data['report_year'] == 1998))]
coal_1994 = data[(data['fuel_type_code_pudl'] == 'coal') & ((data['report_year'] == 1994))]

# sum the fuel cost oer unit burned in each year
coal_fuel_cost_1994 = coal_1994['fuel_cost_per_unit_burned'].sum()
coal_fuel_cost_1998 = coal_1998['fuel_cost_per_unit_burned'].sum() 

# calculate the percentage change
percent_change = ((coal_fuel_cost_1998-coal_fuel_cost_1994)/coal_fuel_cost_1994) * 100
print('The percentage change is: ',round(percent_change,0))

The percentage change is:  -21.0

## Question 10

In [20]:
# group data by year get the mean fuel cost per unit delivered, sort by descending order and use slice method to get the first value

data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)[:1]

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64